@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.logoH {
    width: 5%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav {
    position: absolute;
}

.home {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.livros {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cadastro {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contato {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}